html
  box-sizing: border-box

*,
*:before,
*:after
  box-sizing: inherit

html,
body
  width: 100%
  margin: 0
  padding: 0

body
  display: flex
  flex-direction: column
  text-rendering: optimizeLegibility

section
  display: flex
  flex-direction: column
  width: 100%
  margin: 0 auto
  padding: ms(2) 0
  // Keeps course components turning into modals from being
  // positioned into the body (makes centering using left and fixed-width
  // easier
  position: relative

  // more spacing required for larger resolutions
  @media screen and (min-width: $mobileMW) and (max-width: $maxwidth)
    padding: ms(4) 0

  @media screen and (min-width: $maxwidth)
    padding: ms(5) 0

.maxwidth
  display: flex
  flex-direction: column
  max-width: $maxwidth
  width: 100%
  padding: 0 $mdGutter
  margin: 0 auto

  @media screen and (min-width: $mobileMW)
    flex-direction: row
