.bgGreen
  background-color: $green

.bgBlue
  background-color: $blue

.bgLightBlue
  background-color: $lightblue

.bgYellow
  background-color: $yellow

.bgWhite
  background-color: $white

.bgWhitish
  background-color: $whitish

.txtWhite
  color: $whitish

.txtBlack
  color: $black

.txtBlue
  color: $blue

.txtLightRed
  color: $lightred

.bgGradientBlue
  background-color: $blue
  background: linear-gradient(270deg, #0073C8, #0073FF)
