.headingFontStyles
  font-family: $headings
  font-weight: 700
  font-size: ms(2)
  line-height: 1.1
  //letter-spacing: 0.3px

.subheadingFontStyles
  font-family: $body
  font-weight: 400
  font-size: ms(1)
  line-height: 1.1
  letter-spacing: 0.3px

.bodyFontStyles
  font-family: 'Open Sans', sans-serif
  font-weight: 400
  font-size: ms(0)
  line-height: 1.6

.borderRadius
  border: none
  border-radius: 4px

.buttonBoxShadow
  -webkit-box-shadow: 0 1px 4px 0 $boxshadow
  -moz-box-shadow:  0 1px 4px 0 $boxshadow
  box-shadow:  0 1px 4px 0 $boxshadow

.buttonStyles
  @extend .bodyFontStyles
  @extend .buttonBoxShadow
  @extend .borderRadius
  padding: 8px 16px
  text-transform: uppercase
  cursor: pointer