footer
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  width: 100%
  padding: $mdGutter

  @media screen and (min-width: $mobileMW)
    padding: $lgGutter

.container_footer-menu
  display: flex
  flex-direction: row
  justify-content: center
  width: 100%

.container_footer-attribution
  width: 100%
  
  p
    text-align: center

.footer_menu
  flex-direction: column
  min-width: 93px // (320px (smallest mobile) - (12.8px  (padding: 0 $lgGutter) * 3 menus)) / 3
  max-width: 150px
  width: 100%
  padding: $smGutter

  @media screen and (min-width: $mobileMW)
    padding: $lgGutter

  h3
    padding-top: 0
    color: $whitish

  ul
    margin: 0

  a
    color: $black

    &:hover,
    &:focus
      color: $whitish