nav
  position: fixed
  display: flex
  top: 0
  left: 0
  width: 100%
  height: 65px
  z-index: 999

  section
    flex-direction: row

  a
    display: flex
    align-items: center
    height: 65px
    transition: background-color 0.2s ease-in

    &:focus
      text-decoration: underline
    &:active
      text-decoration: none

.nav_main // main nav elements
  display: flex
  width: 100%
  z-index: 999

  @media screen and (min-width: $mobileMW)
    width: auto

.nav_items
  position: absolute
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  top: -250px
  left: 0
  width: 100%
  height: initial
  margin: 0
  box-shadow: 0 1px 4px 0px $boxshadow
  z-index: -1

  @media screen and (min-width: $mobileMW)
    position: static
    display: flex !important
    flex-direction: row
    justify-content: flex-end
    width: initial
    height: 100% // safari&firefox bug
    margin-left: auto
    animation: none
    box-shadow: none
    z-index: 0

.nav_items-item
  justify-content: center
  min-width: 75px
  padding: 0 16px
  color: $whitish
  text-align: center

.nav_toggle
  justify-content: center
  margin-left: auto
  width: 65px

  @media screen and (min-width: $mobileMW)
    display: none

.slideIn
  @keyframes slideIn
    0%
      transform: translateY(0px)
    100%
      transform: translateY(314px)
  -webkit-animation-fill-mode: forwards
  animation-fill-mode: forwards
  -webkit-animation-timing-function: ease-out
  animation-timing-function: ease-out
  -webkit-animation-duration: 1s
  animation-duration: 1s
  -webkit-animation-name: slideIn
  animation-name: slideIn

  // Fixes a bug where the menu stays 250px below the navbar if the screen
  // is resized while the dropdown is open
  @media screen and (min-width: $mobileMW)
    -webkit-animation-fill-mode: none
    animation-fill-mode: none

.slideOut
  @keyframes slideOut
    0%
      transform: translateY(314px)
    100%
      transform: translateY(0px)
  -webkit-animation-fill-mode: forwards
  animation-fill-mode: forwards
  -webkit-animation-timing-function: ease-out
  animation-timing-function: ease-out
  -webkit-animation-duration: 1s
  animation-duration: 1s
  -webkit-animation-name: slideOut
  animation-name: slideOut
