// TODO: change fix all values referring to the vertical rhythm of 27px ($base: 18px) in favor of the current 25.6px ($base:16px)

p,
a,
li,
figcaption,
label,
blockquote,
hr,
span,
time
  @extend .bodyFontStyles
  margin: 0
  padding: 0

h1,
h2,
h3,
h4
  margin: 0
  padding: 0

p
  width: 100%

a
  text-decoration: none
  cursor: pointer
  transition: text-decoration 0.2s ease-in, color 0.2s ease-in, background-color 0.2s ease-in

  &:focus
    text-decoration: underline

  @media screen and (min-width: 660px)
    &:hover
      text-decoration: underline

  &:active
    color: $black
    text-decoration: none

figcaption
  text-align: center

blockquote
  position: relative
  max-width: 640px
  margin: 0 auto
  padding: 0 $mdGutter
  font-style: italic

  @media screen and (min-width: 768px)
    padding: 0

ul,
ol
  margin-bottom: $mdGutter

ol li
  list-style-position: inside

hr
  margin: $lgGutter auto
  width: 100px
  border: 1px solid $black

h1
  @extend .headingFontStyles

h2,
h3
  @extend .subheadingFontStyles

// Defined for mobile-first
h1
  padding-bottom: $lgGutter

h2
  padding-bottom: $mdGutter

h3
  padding-top: 18px
  padding-bottom: $smGutter
  font-size: ms(0)

.text-center
  text-align: center

.text-right
  text-align: right

.text-uppercase
  text-transform: uppercase

.text-small-caps
  font-variant: small-caps

.text-underlined
  text-decoration: underline

.text-normal
  font-weight: 400

.text-bold
  font-weight: 600

.text-italic
  font-style: italic

.lone-link
  display: block
  padding-top: $lgGutter

.landing_learn-more
  display: none

  @media screen and (min-width: $mobileMW)
    display: block

.container_course-component-text
  h1
    font-size: ms(1)

.container_course-component-hidden-content
  h2
    padding: 0
    padding-top: $mdGutter

.container_course-component-modal .container_course-component-inner-content .container_course-component-text
  ol li,
  ul li
    color: $black
