.negate-spacing
  margin: 0
  padding: 0

.negate_padding-bottom
  padding-bottom: 0 !important

.negate_padding-top
  padding-top: 0 !important

.padding-0
  padding-bottom: ms(0)

.padding-1
  padding-bottom: ms(1)

.padding-2
  padding-bottom: ms(2)

.padding-3
  padding-bottom: ms(3)

.padding-4
  padding-bottom: ms(4)

.padding-0-mobile-only
  @media screen and (max-width: $mobileMW)
    padding-bottom: ms(0)

.padding-1-mobile-only
  @media screen and (max-width: $mobileMW)
    padding-bottom: ms(1)

.padding-2-mobile-only
  @media screen and (max-width: $mobileMW)
    padding-bottom: ms(2)

.padding-3-mobile-only
  @media screen and (max-width: $mobileMW)
    padding-bottom: ms(3)

.padding-4-mobile-only
  @media screen and (max-width: $mobileMW)
    padding-bottom: ms(4)

.flex-row
  display: flex
  flex-direction: row
  flex-wrap: wrap

.flex-column
  display: flex
  flex-direction: column
  flex-wrap: nowrap

.flex_justify-between
  justify-content: space-between

.flex-justify-around
  justify-content: space-around

.pos-relative
  position: relative

.pos_below
  position: relative
  top: 25.6px
  left: 0

.order_mobile-0
  order: 0

  @media screen and (min-width: $mobileMW)
    order: initial

.order_default
  order: 1

  @media screen and (min-width: $mobileMW)
    order: initial
