.button
  @extend .buttonStyles
  display: inline-block

  &:hover,
  &:focus
    opacity: .8
    outline: none
    box-shadow: 0 1px 4px $boxshadow

  &:active
    outline: none
    box-shadow: none

.button_moreinfo
  // more info button for course component cards
  margin: 0
  width: 100%
  height: 100%
  //box-shadow: 0px 4px 4px #333
  transition: font-size 0.2s ease-in, box-shadow 0.2s ease-in

  &:hover,
  &:focus
    color: $black
    box-shadow: 0px 4px 4px $boxshadow

  &:active
    outline: none
    box-shadow: none

.button_close
  width: 44px
  height: 44px
