.container_half-to-full
  // 50% on lg/med resolutions && 100% on sm resolutions
  display: flex
  flex-direction: column
  width: 100%

  @media screen and (min-width: $mobileMW)
    justify-content: center
    width: calc(50% - #{$mdGutter})

    // Puts 27px of padding between the two elements side by side on lg res
    &:nth-child(1),
    &:nth-child(3)
      margin: 0
      margin-right: $mdGutter

    &:nth-child(2),
    &:nth-child(4)
      margin: 0
      margin-left: $mdGutter

.container_third
  // one third width of parent container
  display: flex
  flex-wrap: wrap
  flex-direction: row
  justify-content: center
  width: 30%
  margin: 0

.container_third-wrap
  @media screen and (max-width: $mobileMW)
    width: 100%

.container_tracks
  display: flex
  // container for tracks on homepage (coded for desktop first)
  display: flex
  flex-direction: row

  @media screen and (max-width: $mobileMW)
    flex-direction: column
    max-width: none
    margin: 0 auto

  .container_half-to-full
    padding: 12.8px
    border: none
    border-radius: 2px
    box-shadow: 0 2px 2px $boxshadow

    // puts space between two tracks on mobile
    &:nth-child(1)
      @media screen and (max-width: $mobileMW)
        margin-bottom: ms(2)

.container_testimonial-full-wdth
  // container for full-width testimonials
  width: 100%

.container_testimonial-signature
  // container for the image and name signature of a full-wdth testimonial
  display: flex
  justify-content: center
  align-items: center
  margin-top: 12.8px
  width: 100%

  img
    display: flex
    width: 44px
    height: 44px
    border-radius: 50px
    margin: 0
    margin-right: 12.8px

  p
    display: flex
    width: initial
    margin: 0
    font-size: 14px

.container_modal-bg
  // container that spans 100vh and 100vw to create a background behind a modal
  display: none
  width: 100vw
  height: 100vh
  position: fixed
  top: 0
  left: 0
  background-color: rgba(54, 54, 54, 0.7)
  z-index: 998

.components
  display: flex
  flex-direction: row
  flex-wrap: wrap
  width: 100%

.container_course-component
  // container for displaying dropdown course information on homepage
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  margin: 0
  margin-bottom: 25.6px
  width: 100%
  height: 0px
  border: none
  border-radius: 2px
  box-shadow: 0 2px 2px #333
  position: fixed
  opacity: 0
  visibility: hidden
  transition: opacity 0.5s ease-in

  @media screen and (min-width: 768px)
    width: calc(50% - 25.6px)
    margin: 0 12.8px 25.6px

.container_course-component.active
  height: auto
  position: static
  opacity: 1
  visibility: visible

.container_course-component-text
  // container for text and label content inside a course dropdown component
  display: flex
  flex-direction: column
  margin: 12.8px
  height: 250px

.container_course-component-labels
  // container for the price labels within course components
  display: flex
  flex-direction: row
  margin-top: auto

.container_price-labels
  // price tags on courses
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  //width: 150px // No longer needed with updated tags
  // TODO: convert padding value to variable for label/button inner spacing
  padding: 8px 16px
  // TODO: convert margin value to variable for spacing
  margin-right: 12.8px
  border-radius: 2px
  hr
    margin: 6.4px auto
    width: 50px
    border: 1px solid $whitish

.container_course-component-moreinfo
  // container for the '+' selector to trigger the dropdown action
  display: inline-block
  justify-content: center
  align-items: center
  margin-top: auto
  width: 100%
  height: 60px
  border-radius: 0 0 2px 2px

.container_course-component-close
  display: flex
  justify-content: center
  align-items: center
  position: absolute
  top: 12.8px
  right: 12.8px
  width: 44px
  height: 44px

.container_course-component-modal
  transition: opacity 0.25s ease-in
  opacity: 0
  visibility: hidden
  display: flex
  flex-direction: column
  position: fixed
  // mobile
  top: 0
  left: 0
  margin: 0
  width: 100%
  height: 100vh
  border: none
  border-radius: 2px
  box-shadow: 0 6px 6px #333
  z-index: 999

  @media screen and (min-width: 768px)
    height: 80vh
    width: 640px

  .container_course-component-text
    // corrects the height of the text container
    display: block
    height: initial

.container_course-component-modal.active
  opacity: 1
  visibility: visible

.container_course-component-inner-content
  display: flex
  overflow: auto
  margin: 12.8px
  background-color: rgba(54, 54, 54, 0.3)

.container_course-component.blogpost
  @media screen and (min-width: 768px)
    width: 100%
    margin: 0
    margin-bottom: 25.6px

  .container_course-component-text
    height: auto

.container_teachers
  // container for holding multiple images of teachers
  display: flex
  justify-content: space-between
  max-width: 342px
  width: 100%
  margin: $mdGutter auto

  @media screen and (min-width: $mobileMW)
    max-width: none

.container_text
  // container for holding text sections
  width: 100%

.container_combo
  // container for employer's track benefits of ABS
  display: flex
  flex-direction: column
  width: 100%
  margin: 0 auto

  & >*
    padding: 6.4px

  @media screen and (min-width: 768px)
    width: 80%

.container_combo-top
  // container for the check mark and paragraph text
  display: flex

.container_combo-top-check
  // container for the check mark
  display: flex
  justify-content: center
  align-items: center
  flex-basis: 75px

  p
    font-size: ms(1)

.container_combo-top-paragraph
  // container for the paragraph
  display: flex
  justify-content: center
  align-items: center
  flex: 1

.container_combo-bottom
  // container for the bottom component
  display: flex
  border: 1px solid #333
  box-shadow: 0px 2px 2px #333
  border-radius: 2px

.container_combo-bottom-teacher-companies
  // container for the bottom component of the teacher component
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  width: 100%

.container_combo-bottom-testimonial
  // container for the bottom component of the testimonial component
  display: flex
  justify-content: center
  align-items: center
  padding: 12.8px
  margin: 0 12.8px
  border-radius: 2px
