.img
  // 100% of it's parent container
  display: flex
  max-width: 465px
  width: 100%
  margin: 0 auto
  border: none
  border-radius: 2px
  box-shadow: 0 2px 15px $boxshadow

  @media screen and (min-width: 768px)
    margin: 0

.icon
  display: block
  width: 100px
  margin: 0 auto
  padding-bottom: $mdGutter

.img_homepage-courseexample-two
  display: none

  @media screen and (min-width: $maxwidth)
    position: absolute
    display: inline
    left: 510px

.img_nav-logo
  // space between logo and "Andy Beverly"
  margin-right: 13.5px
  width: 55px
  transform: rotate(-20Deg)

.img_teachers
  justify-content: center
  align-items: center
  margin: 12.8px 12.8px 0
  width: 48px
  height: 48px

  @media screen and (min-width: 360px)
    width: 60px
    height: 60px

  @media screen and (min-width: 400px)
    width: 70px
    height: 70px

  @media screen and (min-width: 768px)
    width: 150px
    height: 150px

.img_companies
  width: 54px
  height: 54px

  @media screen and (min-width: $mobileMW)
    width: 150px
    height: 150px
