.lbl_testimonial
  // label to declare author of a testimonial
  position: absolute
  left: 50%
  top: 0px

  @media screen and (min-width: 768px)
    top: 0

.lbl_insurance-type
  // label to select the type of insurance courses to filter for
  display: flex
  flex-direction: column
  justify-content: flex-end
  align-items: center
  width: 100%
  height: 84px
  font-size: 14px
  text-align: center

.lbl_class-type
  font-size: 16px
  font-weight: 600

  &:last-child
    margin-right: 0

.lbl_price
  font-size: 14px

.lbl_post-metadata
  display: block
  // label for the author and date of a blog psot
  font-size: 12px

  &:nth-child(2)
    margin-bottom: 12.8px
